<div class="card">
  <form class="answer-form" [formGroup]="answerForm">

    <label for="value">
      Réponse <br>
      <input class="input-custom" type="text"  value="{{answer.value}}" id="value" [formControlName]="'value'">
    </label>

    <br/>
    Réponse juste
    <br/>

    <div *ngIf="answer.isCorrect===true">
      <label>
        <input type="radio" name="isCorrect" id="isCorrect" [checked]="true" [formControlName]="'isCorrect'" [value]="true" />Vrai
      </label>

      <br/>
      <label>
        <input type="radio" name="isCorrect" id="isCorrect" [formControlName]="'isCorrect'" [value]="false" />Faux
      </label>
    </div>

    <div *ngIf="answer.isCorrect===false">
      <label>
        <input type="radio" name="isCorrect" id="isCorrect" [formControlName]="'isCorrect'" [value]="true" />Vrai
      </label>

      <br/>
      <label>
        <input type="radio" name="isCorrect" id="isCorrect" [checked]="true" [formControlName]="'isCorrect'" [value]="false" />Faux
      </label>
    </div>


    <br/>

    <button type="submit" class="button-card" (click)="updateAnswer()">Enregistrer</button>
    <button type="submit" class="button-card" (click)="cancel()">Annuler</button>
  </form>
</div>
