<div>
    <div style="text-align: center;">
        <h1>QuizMaster</h1>  
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <div>
                <img src="./assets/images/accompagnateur.jpg" style="width:300px; height: 300px"/>
            </div>
           <div>
                <button type="button" class="btn btn-outline-dark menu-button" (click)="modal.close('go to next')">Espace Accompagnateur</button>
           </div>
        </div>
        <div class="grid-item">
            <div>
                <img src="./assets/images/quiz.jpg" style="width:300px; height: 300px"/>
            </div>
            <div>
                <button type="button" class="btn btn-outline-dark menu-button" (click)="modal.close('go to next')">Jeu</button>
            </div>
        </div>

    </div>
</div>