.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 100%;
  }
  
  .grid-item {
    padding: 20px;
    text-align: center;
  }

  .menu-jumbotron {
     margin-top: 30px;

  }

  .card-deck{

    margin:30px;
  }

  .jumbotron{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
  }
