<div>
    <div style="text-align: center;">
        <h1>QuizMaster</h1>  
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <div>
                <img src="./assets/images/accompagnateur.jpg" alt="..." class="img-thumbnail">
            </div>
           <div>
                <button type="button" class="btn btn-outline-dark menu-button" (click)="selectWorkspace()">Espace Accompagnateur</button>
           </div>
        </div>
        <div class="grid-item">
            <div>
                <img src="./assets/images/quiz.jpg" alt="..." class="img-thumbnail">
            </div>
            <div>
                <button type="button" class="btn btn-outline-dark menu-button" (click)="selectGamespace()" >Jeu</button>
            </div>
        </div>

    </div>
</div>