

 <div class="jumbotron">
    <h1 class="display-10">Accompagnateur</h1>
    <p class="lead">Espace de gestion de quiz et d'acceuilli.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" style="color: white;" (click)="workspace()" role="button">Commencer</a>
  </div>

  <div class="jumbotron">
    <h1 class="display-10">Jeu</h1>
    <p class="lead">Quizzes regroupé par thème.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" style="color: white;" (click)="game()" role="button">Commencer</a>
  </div>

  