<div class="row quit-button">
  <div class="col-md-12 ">
    <button class="btn btn-primary btn-lg active" style="margin-bottom: 15px;" (click)="goBack()">Retour à la liste des questions</button>
  </div>
</div>

<div class="answers-list">
  <div class="card">
    <button class="button-card" style="margin: 35px;" (click)="addAnswer()">Ajouter une réponse</button>
    </div>
  <div class="answer" *ngFor="let answer of answersList">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
    <app-answer [answer]="answer" (deleteAnswer)="deleteAnswer($event)"></app-answer>
  </div>
</div>

