<div class="row">
    <div class="col-md-12 ">Button..</div>
  </div>
  <div class="row">
    <div class="col-md-12  d-flex justify-content-center">Image..</div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">Information..</div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">{{currentQuestion.label}}</div>
  </div>
  <div class="answer" *ngFor="let answer of currentQuestion.answers">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
    <app-answer [answer]="answer" (answerSelected)="answerSelected($event)"></app-answer>
</div>