<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">QuizMaster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Page principale</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="workspace()" routerLink="workspace">Espace accompagnateur</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" (click)="game()" routerLink="users-list">Jeu</a>
        </li>
      </ul>
    </div>
  </nav>