
<div *ngIf="enableAdmin===true">
<div class="row quit-button">
  <div class="col-md-12 ">
    <button class="btn btn-primary btn-lg active" style="margin-bottom: 15px;margin-top: 10px;" (click)="goBack()">Retour à l'espace accompagnateur</button>
  </div>
</div>
</div>

<div *ngIf="enableAdmin===false">
  <div class="row quit-button">
    <div class="col-md-12 ">
       <button class="btn btn-primary btn-lg active" style="margin-bottom: 15px; margin-top: 10px;" (click)="goBackInGame()">Retour au menu principal</button>
     </div>
   </div>
  Veuillez choisir une personne
</div>

<div class="users-list">
  <div class="user" *ngFor="let user of usersList">
    <app-user [user]="user" (userSelected)="userSelected($event)" (deleteUser)="deleteUser($event)"></app-user>
  </div>
</div>
