

  <div class="row quit-button">
    <div class="col-md-12 ">
      <button class="btn btn-primary btn-lg active" style="margin-bottom: 15px;margin-top: 10px;" (click)="goBack()">Retour à la liste des acceuillis</button>
    </div>
  </div>

<div class="row block block-colored" style="margin-top: 20px; padding: 10px;">
  <div class="col-12 col-md-6 al justify-content-center text-center button-select">
    <img src="assets/images/harold.jpg" alt="..." class="img-thumbnail">
  </div>
  <div class="col-6 col-md-4 justify-content-center text-center button-select">
      <div class="row">
        Prénom : {{this.user.firstName}}
      </div>
      <div class="row">
        Nom : {{this.user.lastName}}
      </div>
  </div>
</div>

<div >
  <div class="row ">
    <div class="col-12 justify-content-center">
    <button type="button" class="btn btn-primary">
    <h1> Historique <span class="badge badge-light">{{this.results.length}}</span> </h1>
      <span class="sr-only">unread messages</span>
    </button>
    </div>
  </div>

  <div class="row">
    
    <div class="col-6 col-md-4 justify-content-center results block block-colored">
      <div class="result" *ngFor="let result of this.results">
        <app-result [result]="result" ></app-result>
      </div>
    </div>
    <div class="col-6 col-md-6 justify-content-center text-center">
      <ng-container *ngIf="this.labels.length!==0">
        <app-line-chart [data]="this.data" [labels]="this.labels"></app-line-chart>
      </ng-container>
    </div>
  </div>
</div>
