@import '../../../styles/card.scss';

.results{
margin:15px;
}

.title-section{
    margin:30px;
}

.block-colored{
    border: black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #D2D1E8;
  }
  
  .block{
    margin:10px;
  }