
<div class="row">
  <div class="col-12 col-md-6 al justify-content-center text-center button-select">
    <img src="assets/images/{{this.user.photoProfile}}" alt="..." class="img-thumbnail">
  </div>
  <div class="col-6 col-md-4 justify-content-center text-center button-select">
      <div class="row">
        {{this.user.firstName}}
      </div>
      <div class="row">
        {{this.user.lastName}}
      </div>
  </div>
</div>

<div class="row">
  <div class="col-6 col-md-6 justify-content-center text-center"></div>
</div>

<div class="row">
  <div class="col-6 col-md-6 justify-content-center text-center"></div>
  <div class="col-6 col-md-4 justify-content-center text-center"></div>
</div>