<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Acceuilli</h5>
      <p class="card-text">Consulter, modifier, ajouter un acceuilli. </p>
    </div>
    <div style="padding: 15px;">
      <a class="btn btn-primary btn-lg button-card" (click)="usersList()" role="button">Consulter</a>
      <a class="btn btn-primary btn-lg button-card"  (click)="addUser()" role="button">Ajouter un acceuilli</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Thème</h5>
      <p class="card-text">Consulter, modifier, ajouter un thème.</p>
    </div>
    <div style="padding: 15px;">
      <a class="btn btn-primary btn-lg button-card" (click)="themesList()" role="button">Consulter</a>
      <a class="btn btn-primary btn-lg button-card"  (click)="addTheme()" role="button">Ajouter un thème</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Quiz</h5>
      <p class="card-text">Consulter, modifier, ajouter un quiz.</p>
    </div>
    <div style="padding: 15px;">
      <a class="btn btn-primary btn-lg button-card" (click)="quizzeslist()" role="button">Consulter</a>
      <a class="btn btn-primary btn-lg button-card"  (click)="addQuiz()" role="button">Ajouter un quiz</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Paramètres</h5>
      <p class="card-text">En construction.</p>
    </div>
    <div style="padding: 15px;">
      <a class="btn btn-primary btn-lg button-card" (click)="parameters()" role="button">Consulter</a>
    </div>
  </div>
</div>
