<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
    <div class="col-12 col-md-6 al justify-content-center text-center button-select">
        <button type="button" class="btn btn-secondary btn-lg" (click)="addUser()">Ajouter un acceuilli</button>
    </div>
    <div class="col-6 col-md-4 justify-content-center text-center button-select">
      <button type="button" class="btn btn-secondary btn-lg" (click)="quizzeslist()">Consulter les acceuillis</button>
    </div>
  </div>

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row">
    <div class="col-6 col-md-6 justify-content-center text-center button-select">
      <button type="button" class="btn btn-secondary btn-lg" (click)="addTheme()">Ajouter un thème</button>
    </div> 
    <div class="col-6 col-md-4 justify-content-center text-center button-select">
      <button type="button" class="btn btn-secondary btn-lg" (click)="themeslist()">Consulter les thèmes</button>
    </div>
  </div>

<div class="row">
  <div class="col-6 col-md-6 justify-content-center text-center button-select">
    <button type="button" class="btn btn-secondary btn-lg" (click)="addQuiz()">Ajouter un quiz</button>
  </div>
  <div class="col-6 col-md-4 justify-content-center text-center button-select">
    <button type="button" class="btn btn-secondary btn-lg" (click)="quizzeslist()">Consulter les quizzes</button>
  </div>
</div>

