<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Acceuilli</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div style="padding: 15px;">
      <a class="btn btn-primary btn-lg button-card" (click)="usersList()" role="button">Consulter</a>
      <a class="btn btn-primary btn-lg button-card"  (click)="addUser()" role="button">Ajouter</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Thème</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div style="padding: 15px;">
      <a class="btn btn-primary btn-lg button-card" (click)="themesList()" role="button">Consulter</a>
      <a class="btn btn-primary btn-lg button-card"  (click)="addTheme()" role="button">Ajouter</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Quiz</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div style="padding: 15px;">
      <a class="btn btn-primary btn-lg button-card" (click)="quizzeslist()" role="button">Consulter</a>
      <a class="btn btn-primary btn-lg button-card"  (click)="addQuiz()" role="button">Ajouter</a>
    </div>
  </div>
</div>