
<div *ngIf="enableAdmin===true">
  
  <button class="button-card" style="margin: 35px;" (click)="editTheme()">Modifier nom du thème</button>
  <button class="button-card" style="margin: 35px;" (click)="addQuiz()">Ajouter un quiz</button>
  <h1 style="font-size:50px;"> Quizzes </h1>
  </div>
<div *ngIf="enableAdmin===false">
   Choisissez un quiz
  <div class="quiz-list">

      <div class="quiz" *ngFor="let quiz of quizList">
          <!--Inputs & Output allow communication between parent & child components.-->
          <!--More information: https://angular.io/guide/component-interaction-->
          
            <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)"></app-quiz>
          
        </div>

  </div>
</div>

<div *ngIf="enableAdmin===true">
  <div class="quiz-list">
    <div class="quiz" *ngFor="let quiz of quizList">
        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
        <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)"></app-quiz>
    </div>
  </div>
</div>
