<div class="card">

    <div>
      <h2>
        <ng-container *ngIf="theme.themeImage!==undefined">
          <img src="{{imageUrl}}" width="100px" height="100px" />
        </ng-container>
        {{theme.themeName}}
      </h2>
    </div>
 
  

  <ng-container *ngIf="this.enableAdmin===true">
    <button class="button-card" (click)="quizzes()" >Editer</button>
    <button class="button-card" (click)="delete()" routerLink="/">Supprimer</button>
  </ng-container>

  <ng-container *ngIf="this.enableAdmin===false">
    <button class="button-card" (click)="quizzes()">Sélectionner</button>
  </ng-container>
</div>
