<div class="card">
  <h2>
    <img src="{{imageUrl}}" width="100px" height="100px" />
    {{theme.themeName}}
  </h2>
  

  <ng-container *ngIf="this.enableAdmin===true">
    <button class="button-card" (click)="quizzes()">Entrer</button>
    <button class="button-card" (click)="edit()" routerLink="edit/{{theme.id}}">Modifier</button>
    <button class="button-card" (click)="delete()" routerLink="/">Supprimer</button>
  </ng-container>

  <ng-container *ngIf="this.enableAdmin===false">
    <button class="button-card" (click)="quizzes()">Entrer</button>
  </ng-container>
</div>
