
<div *ngIf="enableAdmin===true">
  <div class="row quit-button">
    <div class="col-md-12 ">
      <button class="btn btn-primary btn-lg active" style="margin-bottom: 15px;margin-top: 10px;" (click)="goBack()">Retour à la liste des thèmes</button>
    </div>
  </div>
  </div>
<div *ngIf="enableAdmin===false">
  <div class="row quit-button">
    <div class="col-md-12 ">
       <button class="btn btn-primary btn-lg active" style="margin-bottom: 15px; margin-top: 10px;" (click)="goBackInGame()">Retour au choix du thème</button>
     </div>
   </div>
   Choisissez un quiz
  <div class="quiz-list">

      <div class="quiz" *ngFor="let quiz of quizList">
          <!--Inputs & Output allow communication between parent & child components.-->
          <!--More information: https://angular.io/guide/component-interaction-->
          <ng-container *ngIf="quiz.questions.length>0">
            <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)"></app-quiz>
          </ng-container>
        </div>

  </div>
</div>

<div *ngIf="enableAdmin===true">
  Liste des quiz
  <div class="quiz-list">
    <div class="quiz" *ngFor="let quiz of quizList">
        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
        <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)" (deleteQuiz)="deleteQuiz($event)"></app-quiz>
    </div>
  </div>
</div>
