<div>
  
</div>
<div class="row quit-button">
  <button class="button-card" style="margin: 35px;" (click)="editQuestion()">Modifier nom du quiz</button>
  <button class="button-card" style="margin: 35px;" (click)="addQuestion()">Ajouter une question</button>

</div>
<h1 style="font-size:50px;"> Questions </h1>
<div class="questions-list">


  <div class="question" *ngFor="let question of questionsList">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
    <app-question [question]="question" (deleteQuestion)="deleteQuestion($event)"></app-question>
  </div>

</div>
