<div class="row quit-button">
  <div class="col-md-12 ">
    <button class="btn btn-primary btn-lg active" style="margin-bottom: 15px;" (click)="goBack()">Retour à la liste des quiz</button>
  </div>
</div>

<div class="questions-list">
  <div class="card">
    <button class="button-card" style="margin: 35px;" (click)="selectAddQuestion()">Ajouter une question</button>
    </div>
  <div class="question" *ngFor="let question of questionsList">
    <!--Inputs & Output allow communication between parent & child components.-->
    <!--More information: https://angular.io/guide/component-interaction-->
    <app-question [question]="question" (deleteQuestion)="deleteQuestion($event)"></app-question>
  </div>

</div>
