@import '../../../styles/card.scss';

.result {
    // Add some CSS here! What if you try to change the background?
    margin-top: 10px;

}

.progress-bar{
    margin: 5px;
}

.text-result{
    font-size: 2 px;
}