<div class="row">
<div class="card">
    <h2>
        <i class="fab fa-leanpub"></i>
        {{quiz.name}}
    </h2>
    <h3>
      Theme : {{quiz.theme.themeName}}
    </h3>

  <ng-container *ngIf="this.enableAdmin===false">
    <button class="button-card" (click)="play()">Commencer</button>
  </ng-container>

  <ng-container *ngIf="this.enableAdmin===true">
    <button class="button-card" (click)="questions()">Editer</button>
    <button class="button-card" (click)="delete()">Supprimer</button>
  </ng-container>

</div>
</div>
