<div *ngIf="enableAdmin===true">
  <button class="button-card" style="margin: 35px;" (click)="addTheme()">Ajouter un thème</button>  
</div>
<div *ngIf="enableAdmin===false">
  <div class="row quit-button">
    <div class="col-md-12 ">
       <button class="btn btn-primary btn-lg active" style="margin-bottom: 15px; margin-top: 10px;" (click)="goBackInGame()">Retour au choix de l'acceuilli</button>
     </div>
   </div>
  Choisissez un thème
</div>

<div class="themes-list">
    <div class="theme" *ngFor="let theme of themesList">
        <app-theme [theme]="theme" (themeSelected)="themeSelected($event)" (deleteTheme)="deleteTheme($event)"></app-theme>
    </div>
  </div>
