<div class="card">
  <div style="text-align: center;">
    <h1>Création d’un nouveau thème</h1>  
  </div>
    <form class="theme-add" [formGroup]="themeForm" enctype="multipart/form-data">
      <label for="themeName">
        Nom du thème * : 
        <br>
        <input class="input-custom" type="text" id="themeName" [formControlName]="'themeName'">
      </label>
      <br>
      <label for="themeImage">
        Photo reprèsentant le thème 
        <br>
        <input name="newsfileuploadbox" type="file" id="fileuploadbox" class="upload" #fileuploadbox (change)="importFromTextClicked($event)"
              />
        <!-- <input class="input-custom" type="text" id="themeImage" [formControlName]="'themeImage'"> -->
      </label>
      <br>
      <button type="submit" class="button-card" (click)="addTheme()">Créer</button>
      <button class="button-card" (click)="delete()" routerLink="/">Annuler</button>
    </form>
  </div>
  