<!-- 
<div class="card">
  <div style="text-align: center;">
    <h1>Création d’un nouveau thème</h1>  
  </div>
    <form class="theme-add" [formGroup]="themeForm" enctype="multipart/form-data">
      <label for="themeName">
        Nom du thème * : 
        <br>
        <input class="input-custom" type="text" id="themeName" [formControlName]="'themeName'">
      </label>
      <br>
      <label for="themeImage">
        Image :
        <br>
        <input name="newsfileuploadbox" type="file" id="fileuploadbox" class="upload" #fileuploadbox (change)="importFromTextClicked($event)"
              />
         <input class="input-custom" type="text" id="themeImage" [formControlName]="'themeImage'"> --> 
      <!--  </label>
      <br>
      <button type="submit" class="button-card" (click)="addTheme()">Créer</button>
      <button class="button-card" (click)="delete()" routerLink="/">Annuler</button>
    </form>
  </div>
-->

<div class="card">
  <h2>Création d’un nouveau thème</h2>
  <form class="theme-add" [formGroup]="themeForm">
    <label for="themeName">
      Nom du thème :  <br>
      <input class="input-custom" type="text" id="themeName" [formControlName]="'themeName'">
    </label>
    <br>      
    <div class="form-group">
      <label for="themeImage">Image :
      <input type="file" class="form-control-file" id="themeImage" (change)="onFileChange($event)" [formControlName]="'themeImage'">
    </label>
    </div>
    <button type="submit" class="button-card" (click)="addTheme()">Créer</button>
    <button class="button-card" (click)="delete()" routerLink="/">Annuler</button>
  </form>
</div>

