<div class="card">
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="name">
      Nom <br>
      <input class="input-custom" type="text" id="name" value="{{this.quiz.name}}" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Theme <br>
      <select [formControlName]="'theme'" >
        <option *ngFor="let theme of this.themeList"  value={{theme.themeName}}>
          {{theme.themeName}}
        </option>
      </select>
    </label>
    <br>
    <button type="submit" class="button-card" (click)="updateQuiz()">Enregistrer</button>
    <button type="submit" class="button-card" (click)="cancel()">Annuler</button>

  </form>
</div>
