@import '../../../styles/card.scss';


input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(10); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(5);
  padding: 10px;
}

.help{
  animation: bigsmall 1s infinite;
  animation-direction: alternate-reverse;
  font-size: 30px;
}

.check{
  margin-left: 15px;
    margin-top: 15px;
}

.block{
  border: black;
  border-style: solid outset;
  border-radius: 8px;
}

.answer{
    padding: 10px;
    background-color: #F0E6FF;
    color: black;
}