<ng-container *ngIf="this.enableAdmin===false">
  <div class="row answer">
      <div class="col-md-4 d-flex justify-content-end check">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" (click)="selectAnswer()">
          <label class="form-check-label" for="defaultCheck1">
          </label>
        </div>
      </div>
      <div class="col-md-8 d-flex justify-content-start">
        {{answer.value}}
      </div>
  </div>
</ng-container>

<ng-container *ngIf="this.enableAdmin===true">

  {{answer.value}}
</ng-container>